{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ title }}</h1>

{% if categories is not empty %}
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune catégorie.</p>
{% endif %}

</div>
{% endblock %}
